{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href={% static 'css/maintenance_history.css' %}?{% now "U" %}>
</head>

<body>
    <!-- Navegador -->
    <nav class="navbar sticky-top">
        <!-- Navegador NO RESPONSIVE -->
        <div class="container-fluid no-responsive">
            <a class="navbar-brand" href="/home/flotes">
                <img src={% static 'images/logo-nav.png' %} alt="Logo" width="120" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-item btn btn-outline-success me-2" href="../{{ code }}" role="button">
                        <i class="fa-solid fa-arrow-left"></i></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="../add_repair/{{ code }}" role="button">Mantenimiento
                        de {{ code }}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="/flotes/add" role="button">Agregar flota</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" type="button" href="/logout" role="button">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
        <!-- Navegador RESPONSIVE -->
        <div class="container-fluid responsive">
            <a class="navbar-brand" href="../flotes">
                <img src={% static 'images/logo-nav.png' %} alt="Logo" width="120" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <div class="nav justify-content-end">
                <a class="nav-item btn btn-outline-success me-2" href="../{{ code }}" role="button">
                    <i class="fa-solid fa-arrow-left"></i></a>
                <button class="nav-item btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="offcanvas offcanvas-end nav-item" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h4 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">Terra Ingenieria</h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></i></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="add_repair/{{ flote.code }}">Mantenimiento de
                                    {{flote.code }}</a>
                            </li>
                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="/flotes/add">Agregar flota</a>
                            </li>
                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="/logout">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- HISTORIAL FLOTA -->
    {% for repair in list%}
    <div class="container">
        <div class="d-flex justify-content-center mt-3 mb-3">
            <div class="col-10 col-sm-10 col-md-10 col-lg-7 col-xl-6 col-xxl-6 mt-3 mb-3">
                <div class="card">
                    <div class="text-end">
                        <script>
                            //Cuadro de diálogo de confirmación en JavaScript
                            function confirmarDelete() {
                                return confirm("¿Está seguro que lo desea eliminar?");
                            }
                        </script>
                        <a href="/delete/repair/{{ repair.pk }}" onclick="return confirmarDelete()"
                            class="btn btn-outline-dark btn-lg"> <i class="fa-sharp fa-solid fa-xmark"></i></a>
                    </div>
                    <div class="card-body">
                        <h4 class="mb-3"><b>{{ repair.type }}</b></h4>
                        <h6 class="mb-3"><b><u>Fecha:</u> {{ repair.date }}</b></h6>
                        <h6 class="mb-3"><b><u>Costo:</u>  {{ repair.cost }}</b></h6>
                        <h6 class="mb-3"><b><u>Kilometraje:</u>  {{ repair.mileage }}</b></h6>
                        <h6 class="mb-3"><b><u>Descripción:</u>  {{ repair.description }}</b></h6> 
                        <h6 class="mb-3"><b>{{ repair.oil }}</b></h6>
                        <h6 class="mb-3"><b>{{ repair.filter }}</b></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
{% endblock content %}