body {
	background: #654ea3;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, hsla(256, 35%, 47%, 0.666), hsla(284, 100%, 9%, 0.666));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, hsla(256, 35%, 47%, 0.666), hsla(284, 100%, 9%, 0.666));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Poppins', sans-serif
}

nav {
	background: #fff;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, hsla(256, 35%, 47%, 0.666), hsla(284, 100%, 9%, 0.666)), url(../logo-m.png);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, hsla(256, 35%, 47%, 0.666), hsla(284, 100%, 9%, 0.666)), url(../logo-m.png);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	z-index: 100;
}

.navbar {
	padding: 0 0 0 1%;
}

.search {
	margin-right: 8px;
}

.btn-outline-success {
	--bs-btn-color: #fff;
	--bs-btn-border-color: #47476b;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #47476b;
	--bs-btn-hover-border-color: #47476b;
	--bs-btn-focus-shadow-rgb: 25, 135, 84;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #47476b;
	--bs-btn-active-border-color: #47476b;
	--bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #47476b;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #47476b;
	--bs-gradient: none;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	margin: 50px auto;
	max-width: 450px;
	max-height: 600px;
	border: 3px solid #a9a3b9;
}