body {
	background: #654ea3;
	background: -webkit-linear-gradient(to right, hsla(256, 35%, 47%, 0.666), hsla(284, 100%, 9%, 0.666));
	background: linear-gradient(to right, hsla(256, 35%, 47%, 0.666), hsla(284, 100%, 9%, 0.666));
	font-family: 'Poppins', sans-serif
}

nav {
	background: #fff;
	background: -webkit-linear-gradient(to right, hsla(256, 35%, 47%, 0.898), hsla(284, 100%, 9%, 0.858)), url(../images/white.png);
	background: linear-gradient(to right, hsla(256, 35%, 47%, 0.898), hsla(284, 100%, 9%, 0.858)), url(../images/white.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	overflow: hidden;

}

.navbar {
	padding: 0 0 0 1%;
}

.search {
	margin-right: 8px;
}

.btn-outline-success {
	--bs-btn-color: #fff;
	--bs-btn-border-color: #47476b;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #47476b;
	--bs-btn-hover-border-color: #47476b;
	--bs-btn-focus-shadow-rgb: 25, 135, 84;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #47476b;
	--bs-btn-active-border-color: #47476b;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #47476b;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #47476b;
	--bs-gradient: none;
}

.btn-outline-dark {
	--bs-btn-color: #000;
	--bs-btn-border-color: #ced4da;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #654ea3;
	--bs-btn-hover-border-color: #654ea3;
	--bs-btn-focus-shadow-rgb: 33, 37, 41;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #22002e;
	--bs-btn-active-border-color: #22002e;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #000;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #ced4da;
	--bs-gradient: none;
	margin-left: 3px;
}

.offcanvas {
	background: #fff;
	background: -webkit-linear-gradient(to top, hsl(256, 35%, 47%), hsl(284, 93%, 16%));
	background: linear-gradient(to top, hsl(256, 35%, 47%), hsl(284, 93%, 16%));
}

.offcanvas-title {
	letter-spacing: .8px;
	color: #fff;
}

.fa-xmark {
	font-size: 17px;
	margin-top: 3px;
}

.imagen-flota {
	width: 100%;
	height: 100%;
}

.card {
	align-items: center;
	justify-content: center;
	margin: auto;
	border: 0 !important;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

footer {
	text-align: center;
	padding: 3px;
	color: white;
	}

#status > option {
	user-select: none;
}

#status > .green {
	color: transparent;
	background-color: green;
}
#status > .yellow {
	color: transparent;
	background-color: yellow;
}
#status > .red {
	color: transparent;
	background-color: red;
}

.responsive {
	display: none !important;
}

@media only screen and (max-width: 960px) {
	.no-responsive {
		display: none !important;
	}

	.responsive {
		display: flex !important;
	}

	.fa-bars {
		padding-top: 3px;
	}

	.fa-solid {
		font-size: 22px;
	}

	.offcanvas {
		background: #fff;
		background: -webkit-linear-gradient(to top, hsl(256, 35%, 47%), hsl(284, 93%, 16%));
		background: linear-gradient(to top, hsl(256, 35%, 47%), hsl(284, 93%, 16%));
	}

	.offcanvas-title {
		letter-spacing: .8px;
		color: #fff;
	}

	.nav-link {
		color: #fff !important;
	}

	.nav-link:hover {
		color: #d2b7d9 !important;
	}

	.nav-link:active {
		color: #a570b2 !important;
	}

}