body {
	background: #47476b;
}

.flex-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	background: #fff;
	margin: 50px auto;
	max-width: 600px;
	max-height: 600px;
	border: 3px solid #a9a3b9;
}

.form {
	padding-bottom: 9px;
}

.form__section {
	position: relative;
	--color: #706c6c;
}

.form__input {
	width: 100%;
	font-family: inherit;
	font-size: 1rem;
	color: #000;
	background: transparent;
	padding: .6em .3em;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--color);
}

.form__label {
	color: var(--color);
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 5px;
	transform: translateY(10px);
	transition: transform .5s, color .3s;
}

.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
	transform: translateY(-9px)scale(.8);
	transform-origin: top left;
	--color: #3866f2;
}

.form__input:focus {
	background: linear-gradient(to bottom, transparent, #b3b3cc);
	outline: none;
	border-bottom: 1px solid #7575a3;
}

.form__input--active {
	width: 100%;
	font-family: inherit;
	font-size: 1rem;
	color: #000;
	background: transparent;
	padding: .7em .3em;
	border: none;
	outline: none;
	border-bottom: 1px solid var(--color);
}

.form__input--active:focus {
	background: transparent;
	/* modificar */
}

.form-img {
	flex: 1;
	display: flex;
	padding: 10px;
	min-width: 400px;
	max-width: 600px;
}

.form-img div {
	padding: 10px;
}

.img-container {
	margin: auto;
}

.img-container div {
	text-align: center;
	padding: 30px;
}

.form-img img {
	margin: auto;
	width: 90%;
}