{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href={% static 'css/alerts.css' %}?{% now "U" %}>
</head>

<body>
    <!-- Navegador -->
    <nav class="navbar sticky-top">
        <div class="container-fluid no-responsive">
            <a class="navbar-brand" href="/home/flotes">
                <img src={% static 'images/logo-nav.png' %} alt="Logo" width="120" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-item btn btn-outline-success me-2" href="/home/flotes/{{ code }}" role="button">
                        <i class="fa-solid fa-arrow-left"></i></a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" type="button" href="/logout" role="button">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
        <!-- Navegador RESPONSIVE -->
        <div class="container-fluid responsive">
            <a class="navbar-brand" href="../flotes">
                <img src={% static 'images/logo-nav.png' %} alt="Logo" width="120" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-item btn btn-outline-success me-2" href="/home/flotes/{{ code }}" role="button">
                        <i class="fa-solid fa-arrow-left"></i></a>
                </li>

                <button class="nav-item btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="offcanvas offcanvas-end nav-item" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h4 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">Terra Ingenieria</h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></i></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="/logout">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="d-flex justify-content-center mt-3 mb-3">
            <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mt-3 mb-3">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in alertform %}
                            {{ field.label}}
                            {{ field }}
                            {% endfor %}
                            <button type="submit" class="btn btn-outline-dark mt-3 float-center"> Crear </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- HISTORIAL ALERTAS -->
        {% if alerts %}
        {% for alert in alerts %}
        <div class="container">
            <div class="d-flex justify-content-center mt-3 mb-3">
                <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 col-xxl-8 mt-3 mb-3">
                    <div class="card">
                        <div class="text-end">
                            <script>
                                //Cuadro de diálogo de confirmación en JavaScript
                                function confirmarDelete() {
                                    return confirm("¿Está seguro que lo desea eliminar?");
                                }
                            </script>
                            <a href="/delete/repair/{{ repair.pk }}" onclick="return confirmarDelete()"
                                class="btn btn-outline-dark1 btn-lg"> <i class="fa-sharp fa-solid fa-xmark"></i></a>
                        </div>
                        <div class="card-body">
                            <p><b>{{alert.flote}}</b></p>
                            <p><b>{{alert.limit_date}}</b></p>
                            <p><b>{{alert.title}}</b></p>
                            <p><b>{{alert.description}}</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </body>
{% endblock content %}