{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href={% static 'css/flota.css' %}?{% now "U" %}>
</head>

<body>
    <!-- Navegador -->
    <nav class="navbar sticky-top">
        <div class="container-fluid no-responsive">
            <a class="navbar-brand" href="/home/flotes">
                <img src={% static 'logo-nav.png' %} alt="Logo" width="120" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="add_repair/{{ flote.code }}"
                        role="button">Mantenimiento de {{ flote.code }}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="repair/{{ flote.code }}" role="button">Historial
                        de {{ flote.code }}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="/flotes/add" role="button">Agregar flota</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" type="button" href="/logout" role="button">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
        <div class="container-fluid responsive">
            <a class="navbar-brand" href="../flotes">
                <img src={% static 'logo-nav.png' %} alt="Logo" width="120" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <div class="nav justify-content-end">
                <button class="nav-item btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="offcanvas offcanvas-end nav-item" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h4 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">Terra Ingenieria</h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></i></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="add_repair/{{ flote.code }}"
                                    role="button">Mantenimiento de {{ flote.code }}</a>
                            </li>
                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="repair/{{ flote.code }}" role="button">Historial
                                    de {{ flote.code }}</a>
                            </li>
                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="/flotes/add">Agregar flota</a>
                            </li>
                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="/logout">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Contenido de la flota -->
    <div class="container">
        <div class="d-flex justify-content-center mt-3 mb-3">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-5 col-xxl-5 mt-3 mb-3">
                <div class="card h-100 text-center">
                    <div id="carouselExampleFade" class="carousel slide carousel-dark carousel-fade"
                        data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ flote.img }}" class="card-img-top" alt="Imagen de la flota">
                                <!-- No muestra las imagenes -->
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="prev">
                            <!-- Hay que hacer funcionar el deslizamiento de imagenes -->
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body text-center" style="width: 100%;">
                        <div class="card-title">
                            <h5 class="text-center">{{flote.type}}</h5>

                            {% if correct_group %}
                            <div id="container" class="Default btn-group text-end" role="group" aria-label="Basic outlined example">
                                <button type="submit" id="edit-button" class="btn btn-outline-dark btn-sm">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button type="submit" id="end-editing" class="btn btn-outline-dark btn-sm">
                                    <i class="fa-solid fa-check"></i> <!-- Este boton es el equivalente a actualizar -->
                                </button>
                                <script>
                                    function confirmarAccesoURL() {
                                        return confirm("¿Está seguro que desea eliminar la flota (insertar el nombre de la flota)?");
                                    }
                                </script>
                                <a href="/delete/repair/{{ repair.pk }}" onclick="return confirmarAccesoURL()"
                                    class="btn btn-outline-dark btn-sm" type="button"> 
                                    <i class="fa-sharp fa-solid fa-xmark"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- <ul id="edit" class="list-group list-group-flush text-center">
                            <li class="list-group-item">{{flote.code}}</li>
                            <li class="list-group-item">{{flote.brand}}</li>
                            <li class="list-group-item">{{flote.characteristics}}</li>
                            <li class="list-group-item">{{flote.patent}}</li>
                            <li class="list-group-item">{{flote.production_year}}</li>
                            <li class="list-group-item">{{flote.engine_number}}</li>
                            <li class="list-group-item">{{flote.chassis_number}}</li>
                            <li class="list-group-item">{{flote.status}}</li>
                            <li class="list-group-item">{{flote.justifyStatus}}</li>
                            <li class="list-group-item">{{flote.operators}}</li>
                        </ul> -->
                        <ul id="edit" class="list-group list-group-flush text-center">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in update_form %}
                                <label class="col-sm-8 col-form-label" for="{{ field.auto_id }}">
                                    {{ field.label}}
                                </label>
                                <div class="col-sm-10">
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <div class="mt-2">
                                    <label for="formFileMultiple col-sm-6" class="form-label"> Foto de la flota
                                    </label>
                                    {{ imageform.management_form}}
                                    {% for image in images %}
                                    <div class="col-sm-10">
                                        {{ image }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="btn btn-outline-dark mt-3 float-end">Actualizar</button>
                                <!-- No funciona -->
                            </form>
                            <!-- generar botton para eliminar con referencia a /delete/flote/{{ flote.code}} -->
                        </ul>
                        <script>
                            const paragraph = document.getElementById("edit");
                            const edit_button = document.getElementById("edit-button");
                            const end_button = document.getElementById("end-editing");

                            edit_button.addEventListener("click", function () {
                                paragraph.contentEditable = true;
                                paragraph.style.backgroundColor = "#fff";
                            });

                            end_button.addEventListener("click", function () {
                                paragraph.contentEditable = false;
                                paragraph.style.backgroundColor = "#fff";
                            })
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}