{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href={% static 'css/flota.css' %}?{% now "U" %}>
</head>

<body>
    <!-- Navegador -->
    <nav class="navbar sticky-top">
        <!-- Navegador NO RESPONSIVE -->
        <div class="container-fluid no-responsive">
            <a class="navbar-brand" href="/home/flotes">
                <img src={% static 'images/logo-nav.png' %} alt="Logo" width="120" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="add_repair/{{ flote.code }}"
                        role="button">Mantenimiento de {{ flote.code }}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="repair/{{ flote.code }}" role="button">Historial
                        de {{ flote.code }}</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="/flotes/add" role="button">Agregar flota</a>
                </li> -->

                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" href="/alerts/{{ flote.code }}" role="button">Agregar alerta</a>
                </li>


                <li class="nav-item">
                    <button class="nav-item btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <i class="fa-sharp fa-solid fa-bell"></i>
                    </button>
                    <div class="offcanvas offcanvas-end nav-item" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        {% if notifications %}
                        {% for not in notifications %}
                        <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-end">
                            <div class="alert alert-dark fade show" style="padding-bottom: .1rem;" role="alert"
                                aria-live="assertive" aria-atomic="true">
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                </div>
                                <h2> {{ not.title }}</h2>
                                <!-- HABRIA QUE VER PQ APARECE UNA MAS CHICA QUE LA OTRA Y CORREGIR ESO -->
                                <p class="fw-normal" id="messages">
                                    {{ not.msg }}
                                </p>
                                <br>
                            </div>
                        </div>
                        {% endfor%}
                        {% endif %}

                    </div>
                </li>


                <li class="nav-item">
                    <a class="btn btn-outline-success me-2" type="button" href="/logout" role="button">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
        <!-- Navegador RESPONSIVE -->
        <div class="container-fluid responsive">
            <a class="navbar-brand" href="../flotes">
                <img src={% static 'images/logo-nav.png' %} alt="Logo" width="120" height="50"
                    class="d-inline-block align-text-top">
            </a>
            <!-- NO ENTIENDO PQ NO FUNCIONA ESTO, LUEGO LO REVISO -->
            <div class="nav justify-content-end">
                <button class="nav-item btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="fa-sharp fa-solid fa-bell"></i>
                </button>
                <div class="offcanvas offcanvas-end nav-item" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <!-- HACER JUNTOS ESTO -->
                    {% if notifications %}
                    {% for not in notifications %}
                    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-end">
                        <div class="alert alert-danger fade show" style="padding-bottom: .1rem;" role="alert"
                            aria-live="assertive" aria-atomic="true">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            <h2> {{ not.title }}</h2>
                            <p class="fw-normal" id="messages">
                                {{ not.msg }}
                                <br>
                            </p>
                        </div>
                    </div>
                    {% endfor%}
                    {% endif %}
                </div>

                <button class="nav-item btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="offcanvas offcanvas-end nav-item" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h4 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">Terra Ingenieria</h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></i></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="add_repair/{{ flote.code }}"
                                    role="button">Mantenimiento de {{ flote.code }}</a>
                            </li>
                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="repair/{{ flote.code }}" role="button">Historial
                                    de {{ flote.code }}</a>
                            </li>
                            <!-- <li class="nav-item mt-3">
                                <a class="nav-link active" href="/flotes/add">Agregar flota</a>
                            </li> -->

                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="/alerts/{{ flote.code }}" role="button">Agregar alerta</a>
                            </li>

                            <li class="nav-item mt-3">
                                <a class="nav-link active" href="/logout">Cerrar Sesión</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Contenido de la flota -->
    <div class="container">
        <div class="d-flex justify-content-center mt-3 mb-3">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-5 col-xxl-5 mt-3 mb-3">
                <div class="card h-100 text-center">
                    <div id="carouselExampleFade" class="carousel slide carousel-dark carousel-fade"
                        data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div id="images" class="carousel-item active">
                                {% for img in flote.images %}
                                <div hidden class="imagen-flota">
                                    <img src="{{ img.url }}" class="card-img-top" alt="Imagen de la flota">
                                    <a href="/delete/images/{{ img.pk }}" onclick="return confirmarDeleteImg()"
                                        class="btn btn-outline-dark btn fw-semibold mt-2" type="button">
                                        Eliminar imagen
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button id="prev" class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button id="next" class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleFade" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body container text-center" style="width: 100%;">
                        <div class="card-title">
                            <h5 class="text-center">{{flote.type}}</h5>
                            {% if correct_group %}
                            <div id="container" class="Default btn-group text-end" role="group"
                                aria-label="Basic outlined example">
                                <button type="submit" id="edit-button" class="btn btn-outline-dark btn-sm">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button type="submit" form="myform" id="end-editing"
                                    class="btn btn-outline-dark btn-sm finalizar" disabled>
                                    <i class="fa-solid fa-check"></i>
                                </button>
                                <script>
                                    function confirmarDeleteFlote() {
                                        return confirm("¿Está seguro que desea eliminar la flota {{ flote.code }}?");
                                    }
                                    function confirmarDeleteImg() {
                                        return confirm("¿Está seguro que desea eliminar la imagen?");
                                    }
                                </script>
                                <a href="/delete/flote/{{ flote.code }}" onclick="return confirmarDeleteFlote()"
                                    class="btn btn-outline-dark btn-sm" type="button">
                                    <i class="fa-sharp fa-solid fa-xmark"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <ul id="edit" class="list-group row justify-content-md-center">
                            <form id="myform" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in update_form %}
                                <label class="col-sm-8 col-form-label" for="{{ field.auto_id }}">
                                    {{ field.label}}
                                </label>
                                <div class="col-md-auto">
                                    {{ field }}
                                </div>
                                {% endfor %}
                                <div class="mt-2">
                                    <label for="formFileMultiple col-sm-6" class="form-label"> Foto de la flota
                                    </label>
                                    {% if correct_group %}
                                    {{ imageform.management_form}}
                                    {% for form in imageform %}
                                    <div class="col-md-auto">
                                        {{ form }}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                                <div>

                                </div>
                            </form>
                        </ul>
                        <script>
                            const paragraph = document.getElementById("edit");
                            const edit_button = document.getElementById("edit-button");
                            const end_button = document.getElementById("end-editing");
                            const prev_button = document.getElementById("prev")
                            const next_button = document.getElementById("next")
                            const images_div = document.getElementById("images")
                            const form_elements = document.querySelectorAll('.form-control, .form-select, .finalizar')
                            var childrens = Array.from(images_div.childNodes);
                            const status_elem = document.getElementById("status")
                            var index = 0
                            status_elem.childNodes.forEach(function (elem) {
                                if (elem.tagName == "OPTION") {
                                    switch (index) {
                                        case 0:
                                            index = index + 1
                                            break;
                                        case 1:
                                            elem.classList.add("green")
                                            index = index + 1
                                            break;
                                        case 2:
                                            elem.classList.add("yellow")
                                            index = index + 1
                                            break;
                                        default:
                                            elem.classList.add("red")
                                    }
                                }
                            })
                            childrens = childrens.filter(child => child.tagName == "DIV")
                            childrens[0].hidden = false

                            edit_button.addEventListener("click", function () {
                                form_elements.forEach(function (elem) {
                                    elem.disabled = false
                                })
                            });

                            // end_button.addEventListener("click", function () {
                            //     paragraph.contentEditable = false;
                            //     paragraph.style.backgroundColor = "#fff";
                            // })

                            next_button.addEventListener("click", function () {
                                var ready = true
                                childrens.forEach(function (item, index) {
                                    if (ready && !item.hidden && index != childrens.length - 1) {
                                        console.log(item)
                                        item.hidden = true
                                        childrens[index + 1].hidden = false
                                        ready = false
                                    }
                                })
                            })

                            prev_button.addEventListener("click", function () {
                                var ready = true
                                childrens.forEach(function (item, index) {
                                    if (ready && !item.hidden && index != 0) {
                                        console.log(item)
                                        item.hidden = true
                                        childrens[index - 1].hidden = false
                                        ready = false
                                    }
                                })
                            })

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}