{%  extends 'base.html' %}
{% load static %}
{% block content %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Terra Ingenieria</title>
	<!--<link rel="stylesheet" type="text/css" href="../css/ti_ingreso.css">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="icon" href="../logo.ico">-->
	<link rel="stylesheet" type="text/css" href={% static 'css/ti_ingreso.css' %}?{% now "U" %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/normalize.css' %}?{% now "U" %}>
	<link rel="icon" href={% static 'logo.ico' %}>
</head>

<body>
	<div class="flex-container">
		<div class="form-img">
			<div class="img-container">
				<div>
					<!--<img src="../logo.jpg">-->
					<img src={% static 'logo.jpg' %}>
				</div>
			</div>
		</div>
		<form class="form" action="{% url 'login' %}" method=POST>
			{% csrf_token %}
			<div class="form__section">
				<input name="username" type="email name" required class="form__input" placeholder="Introduzca su Email o Usuario">
			</div>
			<div class="form__section">
				<input name="password" type="password" required class="form__input" placeholder="Introduzca su Contraseña">
			</div>
			<div class="form__section">
				<input type="submit" value="Ingresar" class="form__input">
			</div>
		</form>
	</div>

</body>
{% endblock %}