{%  extends 'base.html' %}
{% load static %}
{% block content %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Flota - Terra Ingenieria</title>
	<!--<link rel="stylesheet" type="text/css" href="../css/ti_vista-flota.css">
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	<link rel="icon" href="../logo.ico">-->
	<link rel="stylesheet" type="text/css" href={% static 'css/ti_vista-flota.css' %}?{% now "U" %}>
	<link rel="stylesheet" type="text/css" href={% static 'css/normalize.css' %}?{% now "U" %}>
	<link rel="icon" href={% static 'logo.ico' %}>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
	<nav class="nav">
		<div class="nav-container">
			<div class="nav-desktop left">
				<h2>Flota</h2>
			</div>
			<div class="nav-desktop right">
				<a href="#">Inicio</a>
				<a href="#">Flota</a>
				<a href="#">Operarios</a>
			</div>
		</div>
	</nav>

	<header class="header">
		<div class="wave" style="height: 150px; overflow: hidden;">
			<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
				<path d="M-9.87,55.77 C209.65,148.53 333.23,8.41 500.00,49.98 L500.00,150.00 L-3.10,152.47 Z"
					style="stroke: none; fill: #47476b;">
				</path>
			</svg>
		</div>
		<div>
			{% for flote in flotes %}
			<p>{{ flote }}</p>
			{% endfor %}
		</div>
	</header>
</body>

<p>		
		Primer avance de la parte estetica.<br>
		Saludos.
</p>
{% endblock %}