{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
	<link rel="stylesheet" type="text/css" href={% static 'css/ti_vista-flota.css' %}?{% now "U" %}>
</head>

<body>
	<!-- Navegador -->
	<nav class="navbar sticky-top" style="z-index: 100;">
		<div class="container-fluid no-responsive">
			<a class="navbar-brand" href="/home/flotes">
				<img src={% static 'logo-nav.png' %} alt="Logo" width="120" height="50"
					class="d-inline-block align-text-top">
			</a>
			<ul class="nav justify-content-end">
				<li class="nav-item search">
					<form method="post" class="d-flex" enctype="multipart/form-data">
						{% csrf_token %}
						<input class="form-control me-2" name="code" id="search" type="search" placeholder="Buscador"
							aria-label="Buscador">
						<button class="btn btn-outline-success" type="submit">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</li>
				<li class="nav-item">
					<a class="btn btn-outline-success me-2" href="/flotes/add" role="button">Agregar flota</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-outline-success me-2" type="button" href="/logout" role="button">Cerrar Sesión</a>
				</li>
			</ul>
		</div>
		<div class="container-fluid responsive">
			<a class="navbar-brand" href="../flotes">
				<img src={% static 'logo-nav.png' %} alt="Logo" width="120" height="50"
					class="d-inline-block align-text-top">
			</a>
			<button class="responsive float-end btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas"
				data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
				<i class="fa-solid fa-bars"></i>
			</button>
			<div class="offcanvas offcanvas-end nav-item" tabindex="-1" id="offcanvasNavbar"
				aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header">
					<h4 class="offcanvas-title fw-bold" id="offcanvasNavbarLabel">Terra Ingenieria</h4>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
						aria-label="Close"></i></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item search">
							<form method="post" class="d-flex mt-3 mb-2" enctype="multipart/form-data">
								{% csrf_token %}
								<input class="form-control me-2" name="code" id="search" type="search"
									placeholder="Buscador" aria-label="Buscador">
								<button class="btn btn-outline-success" type="submit">
									<i class="fa-solid fa-magnifying-glass"></i>
								</button>
							</form>
						</li>
						<li class="nav-item mt-3">
							<a class="nav-link active" href="/flotes/add">Agregar flota</a>
						</li>
						<li class="nav-item mt-3">
							<a class="nav-link active" href="/logout">Cerrar Sesión</a>
						</li>
						<!-- <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Dropdown
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
							</ul>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<!-- Encabezado -->
	<header class="header">
		<div class="wave" style="height: 150px; overflow: hidden;">
			<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
				<path d="M-9.87,55.77 C209.65,148.53 333.23,8.41 500.00,49.98 L500.00,150.00 L-3.10,152.47 Z"
					style="stroke: none; fill: #47476b;">
				</path>
			</svg>
		</div>
	</header>

	<!-- Flotas -->
	<section class="flotes">
		<h2 class="titulo text-center fw-bold">FLOTAS</h2>
		<div class="container-fluid text-center mt-5 mb-3 prueba" style="width: 90vw;">
			<!--	retocar el container-xxl	-->
			<div class="row justify-content-evenly">
				{% for key,value in info.items %}
				<div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 mt-3 mb-5">
					<div class="card h-100">
						<img src={% static value.image_file %}>
						<div class="card-hover dropdown">
							<button class="btn btn-outline-success-m me-2 btn-lg" type="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								{{ key }}
							</button>
							<ul class="dropdown-menu overflow-auto">
								{% for flote in value.flotes %}
								<li><a class="dropdown-item" href={{ flote.code }}>{{ flote.code }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
</body>

{% endblock %}