{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
	<link rel="stylesheet" type="text/css" href={% static 'css/ti_vista-flota.css' %}?{% now "U" %}>
</head>

<body>
	<nav class="navbar sticky-top">
		<div class="container-fluid">
			<div class="navbar-brand">
				<img src={% static 'logo-nav.png' %} alt="Logo" width="120" height="50"
					class="d-inline-block align-text-top">
			</div>
			<ul class="nav justify-content-end">
				<li class="nav-item search">
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Buscador" aria-label="Buscador">
						<button class="btn btn-outline-success" type="submit">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</li>
				<li class="nav-item">
					<a class="btn btn-outline-success me-2" href="/flotes/add" role="button">Agregar flota</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-outline-success me-2" type="button" href="/logout" role="button">Cerrar Sesión</a>
				</li>
			</ul>
		</div>
	</nav>

	<header class="header">
		<div class="wave" style="height: 150px; overflow: hidden;">
			<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
				<path d="M-9.87,55.77 C209.65,148.53 333.23,8.41 500.00,49.98 L500.00,150.00 L-3.10,152.47 Z"
					style="stroke: none; fill: #47476b;">
				</path>
			</svg>
		</div>

	</header>

	<!--<div> 			<--- Esto ya no hace falta?
		{% for flote in flotes %}
		<p>{{ flote }}</p>
		{% endfor %}
	</div>-->

	<section class="flotes">
		<h2 class="titulo text-center fw-bold">FLOTAS</h2>
		<div class="container-fluid mt-5 mb-3">
			<!--	retocar el container-xxl	-->
			<div class="row justify-content-evenly">
				{% for key,value in info.items %}
				<div class="col-12 col-sm-6 col-md-6 col-lg-5 col-xl-4 mt-3 mb-5">
					<div class="card h-100">
						<img src={% static value.image_file %}>
						<div class="card-hover dropdown">
							<button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								{{ key }}
							</button>
							<ul class="dropdown-menu">
								{% for flote in value.flotes %}
								<li><a class="dropdown-item" href={{ flote.code }}>{{ flote.code }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
</body>

{% endblock %}